PORT=3000
MONGO_URI=mongodb+srv://alsdkfj@cluster0.ncuz71i.mongodb.net/ 
MONGODB_URI=mongodb+srv://alsdkfj@cluster0.ncuz71i.mongodb.net/ 
JWT_SECRET=jwt_secret_dev_
FRONTEND_URL=https://profcv-kuc.netlify.app
CORS_ORIGINS=https://profcv-kuc.netlify.app,https://www.profcv-kuc.netlify.app
CORS_ALLOW_ALL=true